.body{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url(shu-Scotland-Loch-Awe-Kilchurn-Castle-513939127-1440x823.jpg);
    margin-top: 50px;
}

.heading{
    width: 30%;
    text-align: center;
    color: aliceblue;
}

.heading h1{
    font-size: 40px;
}

.card-body-contrast {
    background-color: rgba(255, 255, 255, 0.8); /* set a semi-transparent white background */
    padding: 1rem; /* add some padding to the card body */
  }
  
  .card-title {
    color: #1e1e1e; /* set a dark text color */
  }
  
  .card-text {
    color: #333; /* set a slightly lighter text color */
  }
  

